<p>reactive-form works!</p>
<div class="col-6 p-4 mx-auto shadow">
    <div class="row">
        <div class="px-2">
            <form [formGroup]="formone" #fgroup="ngForm">
                <input type="text" class="form-control my-2" placeholder="Firstname" formControlName="firstname" [class.is-valid]="formone.get('firstname')?.valid && formone.get('firstname')?.dirty" [class.is-invalid]="formone.get('firstname')?.invalid && formone.get('firstname')?.dirty">
                <div *ngIf="formone.get('firstname')?.invalid && formone.get('firstname')?.touched">
                    <span class="text-danger" *ngIf="formone.get('firstname')?.errors?.['required']">
                        This field must not be empty
                    </span>
                </div>
                <input type="text" class="form-control my-2" placeholder="Email" formControlName="email" [class.is-valid]="formone.get('email')?.valid && formone.get('email')?.dirty" [class.is-invalid]="formone.get('email')?.invalid && formone.get('email')?.dirty">
                <div *ngIf="formone.get('email')?.invalid && formone.get('email')?.touched">
                    <span class="text-danger" *ngIf="formone.get('email')?.errors?.['required']">
                        This field is required
                    </span>
                </div>
                <input type="password" class="form-control my-2" placeholder="Password" formControlName="password" [class.is-valid]="formone.get('password')?.valid && formone.get('password')?.dirty" [class.is-invalid]="formone.get('password')?.invalid && formone.get('password')?.dirty">
                <div *ngIf="formone.get('password')?.invalid && formone.get('password')?.touched">
                    <span class="text-danger" *ngIf="formone.get('password')?.errors?.['required']">
                        This field must not be empty
                    </span>
                </div>
                <button class="btn btn-success w-100" [disabled]="fgroup.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>